<!-- FOOTER -->
<div class="footer center">
    <hr />
    <a target="_blank" href="https://facebook.com/marlon.gamez.14">facebook&nbsp;</a>
    <a target="_blank" href="https://instagram.com/marlon.hello">instagram&nbsp;</a>
    <a target="_blank" href="https://linkedin.com/in/marlongamez">linkedin</a>
</div>