<!-- FOOTER -->
<div class="footer center">
    <hr />
    <div class="socials">
        <div class="socials-container">
            <a target="_blank" href="https://facebook.com/marlon.gamez.14">facebook</a>
            <a target="_blank" href="https://instagram.com/marlon.hello">instagram</a>
            <a target="_blank" href="https://linkedin.com/in/marlongamez">linkedin</a>
        </div>
    </div>
</div>