<!-- HEADER -->
<div class="header center">
    <div class="title">
        <div class="name">
            <a href="/">marlon gamez</a>
        </div>
    </div>
    <div class="navcontainer">
        <ul class="nav">
            <li class="navitem ">
                <a href="/" {{#if curr_home}}class="current"{{/if}}>music</a>
            </li>
            <li class="navitem">-</li>
            <li class="navitem">
                <a href="/photos" {{#if curr_photos}}class="current"{{/if}}>photos</a>
            </li>
            <li class="navitem">-</li>
            <li class="navitem">
                <a href="/about" {{#if curr_about}}class="current"{{/if}}>about</a>
            </li>
        </ul>
    </div>
</div>