<!DOCTYPE html>
<html>
<head>
    <title>marlon</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
</head>
<body>

{{> header}}

<div class="main-content">
{{{body}}}
</div>

{{> footer}}

</body>
</html>