<!DOCTYPE html>
<html>
<head>
    <title>MARLON</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"></link>
</head>
<body>

{{> header}}

{{{body}}}

{{> footer}}

</body>
</html>