<!-- ABOUT ME -->
<p>
    Hi! I’m Marlon. I'm an upcoming fourth year at UC San Diego studying computer science. 
    When I’m not playing smash or spending countless hours on youtube, you can find me taking pics, skating, or maybe making some music! 
    In my free time I like to bake cookies and find new music. 
    You can also catch me doing an occasional mini crossword too xP
</p>
<p>
    I'm currently a software engineering intern at Google.
</p>