body {
    background-color: black;
    font-family: "Courier New",Courier,monospace;
    /*font-family: europa, sans-serif;*/
}

div {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}


.center {
    margin: auto;
    width: 75%;
}


.header {
    margin: 6vh auto 3vh auto;
}

.title {
    display: block;
    font-style: normal;
}

.name {
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    /*letter-spacing: 0.01em;*/
    line-height: 1.0;
}

.name > a {
    text-decoration: none;
}

.navcontainer {
    margin: 10px 0;
    display: block;
}

.nav {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
    display:inline;

    /*font-family: europa, sans-serif;*/
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .02em;
}

.navitem {
    display: inline-block;
    padding: 0 .75vw 0 0;
}

.navitem > a:hover {
    color: #aea;
}

.current {
    color: #afa;
}

.footer {
    text-align: right;
    margin: 6vh auto 3vh auto;  
}

.footer > hr {
    height: 1px;
    background-color: white;
    margin: 0 0 2vh 0;
}

.socials {
    
    margin: 0 auto;
    width: 100%;
}

.socials-container {
    margin: 0 auto;
}

.social > img {
    width: inherit;
}

.center > img {
    width: 100%;
}


/* PHOTOS */
.photorow {
    display: flex;
    flex-wrap: wrap;

}

.photocol {
    flex: 32.5%;
    max-width: 32.5%;
    padding: 0 .9% 0 0;
}

.last {
    padding: 0;
}

.photocol img {
  margin-top: 2%;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .photocol {
        flex: 100%;
        max-width: 100%;
    }

    .socials-container {
        width:100px;
    }
}